<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Store</title>
	</head>

	<body>
		{% extends 'web_projectA/base.html' %} 
        {% load static %} 
        {% block content %}

        <div class="container">

            <div style="float: right;">
                <p style="color: ivory;">Total: $ {{import_total_cart}}</p>
            </div>
		    <div class="row">
			{% for product in products %}

                <div class="col-md-3">
                    <div class="card" style="margin-top: 10px; height: 98%;">
                        <img src="{{product.image.url}}" alt="" style="height: auto; width: auto;" class="card-img-top" />
                        <div class="card-body" style="text-align: center;">
                            <h6 class="card-title">
                                <b>{{product.name}}</b>
                            </h6>
                            <p class="card-text">${{product.value}}</p>
                        </div>
                        <div class="card-footer text-center" style="width: 100%;">
                            <a href="#" class="btn btn-success">Add to car</a>
                        </div>
                    </div>
                </div>

			{% endfor %}

		    </div>
        </div>  

        <div class="containSectionCategorys" style="margin-top: 10px;"> 
            Categorys:
              {% for categ in category %}
                &nbsp; · &nbsp; <a class="sectionCategorys" href="{% url 'Product_category' categ.id %}">{{categ.name}} </a>
              {% endfor %} 
        </div>

		{% endblock %}
	</body>
</html>
